#include "../source/config.h"
#include <windows.h>

#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

1 VERSIONINFO
  FILEVERSION AMP_VER_MAJOR,AMP_VER_MINOR,AMP_VER_PATCH,0
  PRODUCTVERSION AMP_VER_MAJOR,AMP_VER_MINOR,AMP_VER_PATCH,0
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
  FILEFLAGS AMP_FILEFLAGS
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "amp"
      VALUE "ProductName", "amp"
      VALUE "InternalName", "amp"
      VALUE "OriginalFilename", AMP_ORIG_FILE
      VALUE "FileVersion", STR(AMP_VER_MAJOR) "." STR(AMP_VER_MINOR) "." STR(AMP_VER_PATCH)
      VALUE "ProductVersion", STR(AMP_VER_MAJOR) "." STR(AMP_VER_MINOR) "." STR(AMP_VER_PATCH)
      VALUE "CompanyName", "Markofwitch"
      VALUE "LegalCopyright", "Copyright (c) 2026 Markofwitch"
      VALUE "LegalTrademarks", ""
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END